/*----------------------------------------------------
@File: Default Styles
@Author: JUBAYER HASAN ASIF

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */

/*--- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*--- Global css --- */

*
{
    margin:0 auto;
    padding:0;
}
body
{
    color:#1B1A1A;
    background-color:#fff;
    overflow-x:hidden;
    font-size:17px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    letter-spacing:1px;
}
.navbar
{  
    width:100%;
    padding:0px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}
.navbar img
{
    height: 55px;
    transition:all .3s ease;
    padding-left: 90px;
}
.navbar .navbar-nav
{
    margin-right:0;
}
.navbar .navbar-nav li
{
    margin:0 18px;
    position:relative;
}
.navbar .navbar-nav li.active a
{
    border-bottom:2px solid #d54141;
}
.navbar .navbar-nav li a
{
    color:#1B1A1A !important;
    font-family:"Montserrat",sans-serif;
    font-size:1rem;
    font-weight:700;
    text-transform:capitalize;
    padding:5px 0 !important;
}
.navbar .navbar-nav li a:after
{
    position:absolute;
    bottom:2px;
    left:0;
    right:0;
    margin:auto;
    width:0%;
    content:' ';
    color:transparent;
    background:#d54141;
    height:2px;
    transition:all .3s ease;
}
.navbar .navbar-nav li a:hover
{
    text-decoration:none;
}
.navbar .navbar-nav li a:hover:after
{
    width:100%;
}
.navbar .navbar-nav li:last-child a
{
    background:#d54141;
    color:#fff !important;
    padding:5px 10px !important;
    border-radius:5px;
    border:2px solid #d54141;
    font-weight:600;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.navbar .navbar-nav li:last-child a::after
{
    display:none;
}
.navbar .navbar-nav li:last-child a:hover
{
    background:transparent;
}
.navbar .navbar-nav li:last-child a:hover
{   
    color:#d54141 !important;
}
.fixed-top{
    background:#fff;
    -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);
    box-shadow:0 0 5px 0 rgba(0,0,0,0.2);
}
.half-width
{
        width:45%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
        margin-top: 3%;
}
.hero-section {
    height: 500px;
    padding-bottom: 150px;
}
.main-lines{
    margin-top: 175px;
}
.primary_btn 
{
    display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right top, #a41919, #b73239, #c84958, #d66177, #e17994);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); 
}
.primary_btn span 
{
      padding: 0 35px; 
}
.primary_btn.tr-bg 
{
      background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #a41919, #e17994);
      border: 2px solid transparent;
      color: #222222;
      box-shadow: none; 
}
.primary_btn.tr-bg:hover 
{
        background-image: linear-gradient(to right, #a41919 0%, #e17994 100%), radial-gradient(circle at top left, #a41919, #e17994);
        border: double 2px transparent;
        color: #ffffff;
        box-shadow: 0px 10px 30px rgba(66, 29, 34, 0.3); 
}
.primary_btn:hover 
{
      background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #a41919, #e17994);
      border: 2px solid #d54141;
      color: #222222;
      box-shadow: none;
      background-clip: border-box; 
}
.align-items-center > a
{
    text-decoration: none;
}
.align-items-center {
    margin-right: 300px;
}
.scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.scroll-down .scroll-box {
    height: 30px;
    width: 30px;
    line-height: 25px;
    text-align: center;
}
.about-section{
    margin-top: 400px;
}






/* Thanks for watching */
/* ##/11/2022 *0